In [1]:
import env, evaluate, features, split_scale, wrangle

In [ ]:
import pandas as pd
import numpy as np

In [2]:
df = wrangle.get_zillow_data()

In [3]:
df.head()

     id  bathrooms  bedrooms   sq_ft  taxvaluedollarcnt transactiondate
0  1772        2.0       4.0  1604.0           498347.0      2017-06-30
1  2028        3.0       3.0  2384.0           549917.0      2017-06-01
2  3273        2.0       3.0  1574.0           235272.0      2017-06-01
3  3429        2.0       2.0  1619.0           340000.0      2017-06-29
4  4505        3.0       2.0  2408.0          2017254.0      2017-06-27