In [1]:
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
import acquire
import evaluate
import split_scale
import feature_selection

In [3]:
df = acquire.wrangle_zillow()

In [4]:
df.head()

,poolcnt,fireplacecnt,fullbathcnt,garagecarcnt,regionidcounty,heatingorsystemtypeid,bedroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt
0,0.0,0.0,3.0,2.0,1286.0,0.0,4.0,2541.0,880456.0
1,0.0,0.0,2.0,0.0,3101.0,2.0,3.0,1650.0,614000.0
2,0.0,0.0,2.0,2.0,1286.0,0.0,3.0,1668.0,196483.0
3,0.0,0.0,2.0,2.0,1286.0,0.0,3.0,1653.0,605000.0
4,0.0,0.0,1.0,0.0,1286.0,0.0,3.0,879.0,141875.0